[Desktop Entry]
Name=Power off
Comment=Power off system
Name[da]=Sluk
Comment[da]=Sluk maskinen
Exec=dbus-send --system --print-reply --dest=org.freedesktop.login1 /org/freedesktop/login1 org.freedesktop.login1.Manager.PowerOff boolean:false
Terminal=true
Type=Application
Encoding=UTF-8
Icon=system-shutdown
Categories=System

