*,*:focus,*:hover{
    outline:none;
}

.refude {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    margin: 0px 0px 4px 14px;
    font-size: 1.1em;
    width:min-content;
    white-space: nowrap;
}

.panel div {
    margin-right: 6px;
}

.panel div:first-child {
    margin-right: 8px;
}

.searchbox {
    display: flex;
    align-items: center;
    height: 32px;
    width: 300px;
    border: lightblue solid 2px;
    border-radius: 5px;
    margin-top: 6px;
    margin-left: 10px; 
}

.item {
   position: relative;
   margin-top: 4px;
   margin-left: 8px;
   margin-right: 5px;
   padding: 4px;
   padding-right: 18px;
   vertical-align: top;
   overflow: hidden;
   height: 20px;
   outline-style: none;
}


.item:focus {
   border: solid black 2px;
   border-radius: 5px;
   box-shadow: 1px 1px 1px #888888;
}

.itemheading {
    margin: 2px 0px 0px 18px;
    color: #707070;
    font-style: italic;
}

.icon  {
   float: left;
   margin-right: 6px;
}

.window {
   -webkit-filter: drop-shadow(5px 5px 3px grey);
   overflow: visible;
}

.minimized {
   margin-left: 10px;
   margin-top: 10px;
   width: 14px;
   height: 14px;
   opacity: 0.7;
}

.title {
   overflow: hidden;
   white-space: nowrap;
   margin-right: 6px;
}

.resource-header {
    display: flex;
}

.resource-icon {
    margin: 8px;
}

.resource-name {
    margin-top: 6px;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.resource-comment {
   font-size: 0.8em;
   white-space: nowrap;
   overflow: hidden;
 }

.resource-props {
    border-top: solid 1px gray;
    margin: 8px 0px 0px 8px;
    padding-top: 6px;
}

.resource-props td {
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
 }

.resource-props td:first-child {
    font-style: italic;
    width: 1%;
}

.menu {
    position: absolute;
    padding-right: 16px;
    width: min-content;
    background-color: white;
    z-index: 1;
}
.menu ul {
    border: solid gray 1px;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.menu li {
    padding: 2px 4px 2px 4px;
    position: relative;
    list-style-type: none;
    white-space: nowrap;
}
.menu li:hover {
    background-color: lightgrey; 
}
.menu li:hover ul {
    position: absolute;
    top: 0px;
    left: calc(100% - 3px);
    display: block;
}

.menu li:not(hover) ul {
    display: none;
}

.menu-item {
    display: flex;
    width: 100%;
}

.menu-item .marker {
    width: 8px;
    padding-right: 6px;
}

.menu-item .label {
    flex-grow: 1;
}

.menu-item .submarker {
    font-size: 0.7em;
    padding-left: 2px;
}

.clickable {
    position: relative;
}

.clickable > ul {
    position: absolute;
}
