html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

*,*:focus,*:hover{
    outline:none;
}

.mainDiv {
    padding: 0;
    border: 0;
    margin: 0;
    height: min-content;
    width: min-content;
    /*height: 100%;*/
    padding: 2px 6px 5px 6px;
    display: flex;
    flex-direction: column;
    flex: 1 1 1 1;
    gap: 2px;
}

/* ---------- Panel ------------- */
.panel {
    width: min-content;
    height: min-content;
    /*padding: 2px 4px 4px 4px;*/
    flex-shrink: 0;
    display: flex;
    margin: 0px; 
    white-space: nowrap;
    /*border-bottom: solid 1px lightgrey;*/
    gap: 6px;
}

.panel>div {
    height: 16px;
    cursor: default;
}

.panel>div:first-child {
    margin-right: 6px;
}
/* ------------------ Browser --------------- */

.resource-header {
    display: flex;
}

.resource-icon {
    margin: 8px 8px 0 8px;
}

.resource-name {
    margin-top: 6px;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.resource-comment {
   font-size: 0.8em;
   white-space: nowrap;
   overflow: hidden;
 }

.resource-props {
    border-top: solid 1px gray;
    margin: 8px 0px 0px 8px;
    padding-top: 6px;
}

.resource-props td {
    /*font-size: 0.8em;*/
    white-space: nowrap;
    overflow: hidden;
 }

.resource-props td:first-child {
    text-align: right;
    font-style: italic;
    width: 1%;
    margin-right: 2px;
}

.resource-props td:first-child::after {
    content: ":";
}

.search-box {
    flex-shrink: 0;
    height: 28px;
    width: 300px;
    border: lightblue solid 2px;
    border-radius: 5px;
    margin: 6px 0 6px 8px;
}

.linkHeading {
    color: gray;
    font-style: italic;
    margin: 0 0 0 8px;
}

.related {
    margin-top: 6px;
    margin-bottom: -6px;
}

.link {
    margin-left: 8px; 
    white-space: nowrap;
    width: calc(100% - 20px);
    overflow: hidden;
    height: 28px;
    vertical-align: top;
}
.link>div{
    display: inline-block;
    width: 28px; 
    padding-top: 2px;
}

.window {
   -webkit-filter: drop-shadow(5px 5px 3px grey);
   overflow: visible;
}

.link>a {
    text-decoration: none;
    color: inherit;
    vertical-align: top;
}

.link.selected {
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    /*background-color: lightgrey;*/
}

/* ------------------ Menu ------------------ */
.menu {
    padding: 0 0 16px 16px
}

.menu ul {
    margin: 0;
    padding: 0;
    width: min-content;
}

.menu hr {
    margin: 2px;
}


.menu li {
    position: relative;
    padding: 2px 20px 2px 16px;
    list-style-type: none;
    white-space: nowrap;
    width: min-content;
    cursor: default;
}

.menu li>span:hover {
    background-color: lightgrey;
}

li:not(.open) ul {
    display: none;
}

li::before {
    position: absolute;
    left: 0px;
}

li.submenu.open::before {
    font-size: 0.8em;
    content: "\25BC";
}
li.submenu:not(.open)::before {
    font-size: 0.8em;
    content: "\25B8";
}
li.marked::before {
    content: "\2713";
}

/* ---------------- Flash -------------------------- */
.flash {
    display: flex;
    background-color: white;
}

.flash-icon {
    /*width: 3em;*/
    padding: 0.5em;
}

.flash-message {
    overflow: hidden;
    padding: 0.5em 0.5em 0.5em 0em;
}

.flash-title {
    font-size: 1.2em;
    white-space: nowrap;
}

.flash-body {
    font-size: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    white-space: nowrap;
    overflow: hidden;
}
