html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.heading {
    font-size: x-large;
    text-align: center;
}
.img-cell {
    white-space: nowrap;    
}
.desc {
    text-align: left;
}
.selected  {
    background-color: lightskyblue;
}