@charset "UTF-8";

@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color:#002b36;
    color:   #fdf6e3;
    font-size: 1.1em;
}

*,*:focus,*:hover{
    outline:none;
}

.mainDiv {
    padding: 0;
    border: 0;
    margin: 0;
    height: min-content;
    width: min-content;
    padding: 2px 6px 5px 6px;
}


.resource-header {
    display: flex;
}

.resource-icon {
    margin: 8px 8px 0 8px;
}

.resource-name {
    margin-top: 6px;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.resource-comment {
   font-size: 0.8em;
   white-space: nowrap;
   overflow: hidden;
 }

.resource-props {
    border-top: solid 1px gray;
    margin: 8px 0px 0px 8px;
    padding-top: 6px;
}

.resource-props td {
    /*font-size: 0.8em;*/
    white-space: nowrap;
    overflow: hidden;
 }

.resource-props td:first-child {
    text-align: right;
    font-style: italic;
    width: 1%;
    margin-right: 2px;
}

.resource-props td:first-child::after {
    content: ":";
}

.search-box {
    flex-shrink: 0;
    margin: 6px 10px 6px 8px;
    padding: 4px;
}

.search-box span {
    width: 100%;
    height: 18px;
}

.search-box span:before {
    content: "\1F50E";
    color: gray;
    margin-right: 6px;
    vertical-align: bottom;
}

.links{
    overflow: hidden;
    max-height: 400px;
}

.linkHeading {
    color: gray;
    font-style: italic;
    margin: 4px 0px 10px 12px;
}

.related {
    margin-top: 6px;
    margin-bottom: -6px;
}

.window {
   filter: drop-shadow(5px 5px 3px grey);
   overflow: visible;
}

.link {
    position: relative;
    margin-left: 8px;
    padding-top: 6px;
    padding-bottom: 4px;
    white-space: nowrap;
    width: calc(300px);
    overflow: hidden;
    height: 28px;
    text-decoration: none;
    color: inherit;
    display: block;
}

.link>.title {
    position: absolute;
    left: 28px;
    top: -1px;
}

.link>.comment {
    font-size: 0.8em;
    font-style: italic;
    color: gray;
    position: absolute;
    left: 28px;
    top: 16px;
}

.link:focus {
    border: solid grey 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    margin-top: 6px;
    margin-bottom: 6px;
}
    
.last-action {
    border-bottom: solid 1px gray;
    margin-bottom: 8px;
}

