	<table id="table" data-hash="{{.Hash}}">
		<tr class="resourceRow">
			<td>
				{{if .Icon }}
				<img src="{{.Icon }}" height="32" width="32">
				{{end}}
			</td>
			<td>
				<span>{{.Title }}</span>
				{{if .Searchable}}
				<span>&#x1F50E;</span>
				<span>{{.Term}}</span>
				{{end}}
			</td>
		</tr>
		{{range .Rows}}
		<tr class={{.Class}} data-href="{{.Href}}" data-relation="{{.Relation}}" data-profile="{{.Profile}}">
			<td>
				{{if .IconUrl}}
				<img src="{{.IconUrl}}" height="20" width="20">
				{{end}}
			</td>
			<td>
				<p>{{.Title}}</p>
				{{if .Comment}}
				<p>{{.Comment}}</p>
				{{end}}
			</td>
		</tr>
		{{end}}
	</table>