<!DOCTYPE html>
<html dir="ltr" lang="da" id="html">

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="./style.css">
  	<link rel="manifest" href="./manifest.json" />
	<script type="application/javascript" src="script.js"></script>
	<script type="application/javascript" src="htmx.min.js"></script>
	<script type="application/javascript" src="sse.js"></script>
</head>

	<!--}-->
<body hx-ext="sse" sse-connect="/watch">
	<div style="float: right;" hx-trigger="load,trayChanged" hx-get="/desktop/tray"> </div>
	<div  id="resource" hx-trigger="load,resourceChanged" hx-get="/desktop/resource" hx-vals="js:{path: resourceHref}" hx-on::after-swap="updateTermTag()"> </div>
	<div id="rows" hx-get="/desktop/search" hx-trigger="sse:search, search, resourceChanged" hx-vals="js:{search: term , path: resourceHref}" hx-on::after-swap="focusFirst()"> 
	</div>
</body>
</html>


