<!DOCTYPE html>
<html dir="ltr" lang="da" id="html">

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="./style.css">
  	<link rel="manifest" href="./manifest.json" />
	<script type="application/javascript" src="script.js"></script>
	<script type="application/javascript" src="htmx.min.js"></script>
	<script type="application/javascript" src="sse.js"></script>
</head>

<body hx-ext="sse" sse-connect="/watch">
	<div class="topbar">
		<span class="heading">
			Refude desktop
		</span>
		<img class="search" src="/icon?name=transsearch" width="20" height="20"></img>
		<span id="term"></span>
		<span class="spacer"></span>
		<span hx-trigger="load,trayChanged" hx-get="/desktop/tray"> </span>
	</div>
	<div id="menu" hx-get="/desktop/tray/menu" hx-trigger="fetchMenu" hx-vals="js:{menuPath: currentMenu}"></div>

	<div id="search-results" hx-get="/desktop/search" hx-trigger="sse:search, search" hx-vals="js:{search: term, details: details}"> 
	</div>
</body>
</html>


