<!DOCTYPE html>
<html dir="ltr" lang="da" id="html">

<head>
	<meta charset="utf-8">
	<title>Refude Desktop</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="./style.css">
	<script type="application/javascript" src="navigation.js"></script>
	<script type="application/javascript">
		document.addEventListener("keydown", onKeyDown)
	</script>
</head>

<body>
	<table id="table">
		<tr class="resourceRow">
			<td>
				{{if .Icon }}
				<img src="{{.Icon }}" height="32" width="32">
				{{end}}
			</td>
			<td>
				<p class="resourceName">{{.Title }}</p>
			</td>
		</tr>
		{{if .Searchable}}
		<tr class="searchRow">
			<td>&#x1F50E;</td>
			<td>
				<p>{{.Term}}</p>
			</td>
		</tr>
		{{end}}
		{{range .Rows}}
		{{if ne "" .Heading}}
		<tr class="heading">
			<td/>	
			<td>
				<p>{{.Heading}}</p>
			</td>
		</tr>	
		{{end}}
		<tr class={{.Class}} data-href="{{.Href}}" data-relation="{{.Relation}}" data-profile="{{.Profile}}">
			<td>
				{{if .IconUrl}}
				<img src="{{.IconUrl}}" height="20" width="20">
				{{end}}
			</td>
			<td>
				<p>{{.Title}}</p>
			</td>
		</tr>
		{{end}}
	</table>
</body>
</html>
