{{define "menu" }}
<ul>
{{ range . }}
	{{if eq .Type "standard"}}
		{{if gt (len .SubEntries) 0 }}
			<li class="submenu closed" onclick="doLeftClick(event)">
				{{if .IconUrl}}
				<img src="{{.IconUrl}}" width="24" height="24" alt=""/>
		        {{end}}
				<span>{{.Label}}</span>
				{{template "menu" .SubEntries}}
			</li>
		{{else}}
		<li onclick="doLeftClick(event)" data-id="{{.Id}}">
				{{if .IconUrl}}
				<img src="{{.IconUrl}}" width="24" height="24" alt=""/>
		        {{end}}
				<span>{{.Label}}</span>
			</li>
		{{end}}
	{{end}}
	{{if eq .Type "separator"}}
		<li class="menuSeparator"></li>
	{{end}}
{{ end }}
</ul>
{{end}}
{{template "menu" .}}
