{{range $i, $res := .resources}}
	<div class="line">
		<div class="icon">
			{{if .Icon}}
				<img src="{{.Icon}}" height="32" width="32" class="icon">
			{{end}}
		</div>
		<div>
			<div  class="title" class="title" >
				{{.Title}}
			</div>
			<div class="buttons">
				{{ range $j, $l := .ActionLinks }} 
					<div data-rel={{.Relation}} tabindex="{{(tabindex $i $j)}}" {{if (autofocus $i $j)}}autofocus{{end}} data-href={{.Href}} class="button">
						{{if .Icon}}
							<img src="{{.Icon}}" height="12" width="12" class="button-icon">
						{{end}}
						{{.Title}}
			        </div>
				{{ end }}
			</div>
		</div>
    </div>
{{end}}
