@charset "UTF-8";
html, body {
    background-color:#002b36;
    color:  darkgray;
}

.resourceName {
    padding-left: 12px;
    font-size: 1.6em;
}

.searchRow p:last-child {
    min-height: 1.2em;
    width: 12em;
    font-size: 1.2em;
    border-bottom: solid gray 1px;
    padding-bottom: 6px;
    margin: 4px 0 8px 0;
}


.selectable {
    padding-bottom: 20px;
}

.selectable.selected {
    font-size: 1.1em;
    color:   beige;
}
.selectable.selected td:last-child p {
    border-left: solid darkgray 1px;
    padding-left: 8px;
}

.selectable td:first-child {
    vertical-align: top;
    padding: 6px 6px 0 6px;
}

.selectable td {
    padding-bottom: 8px;
}

.selectable p:first-child {
    font-size: 1.2em;
}

.selectable p {
    margin: 0;
}
