html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.topbar {
   background-color: lightgrey;
   -webkit-app-region: drag;
   border: none;
   height: 48px;
}

*:focus {
    outline: none;
}