html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.heading {
    font-size: x-large;
    padding-left: 50px;
}
.line {
    margin-bottom: 5px;
    vertical-align: top;
    overflow: hidden;
    padding-left:5px;
    padding-right: 5px; 
    padding-top: 2px;
    padding-bottom: 2px;
}
.line-icon {
    float: left;
    margin-right: 6px;
}
.line-title, .line-comment {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 6px;
}
.line-comment {
    font-size: 0.8em;
}
.shadow img {
    -webkit-filter: drop-shadow(5px 5px 3px grey);
    overflow: visible;
}
.dimmed {
    opacity: 0.4;
}
.selected  {
    border: solid black 2px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #888888;
}
.line:not(.selected) {
    border: solid rgba(0,0,0,0) 2px;
    border-radius: 8px;
}

