html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.heading {
    font-size: x-large;
    padding-left: 50px;
}
.line {
    width: calc(100% - 20px);
	vertical-align: top;
	overflow: hidden;
    padding: 5px;
}
.line-icon {
    float: left;
    margin-right: 6px;
}
.line-title {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 6px;
}
.line-comment {
    white-space: nowrap;
    font-size: 0.8em;
    margin-right: 6px;
}
.shadow img {
    -webkit-filter: drop-shadow(5px 5px 3px grey);
    overflow: visible;
}
.dimmed {
    opacity: 0.4;
}
.selected  {
    border: solid black 2px;
	border-radius: 8px;
}
.line:not(.selected) {
    border: solid rgba(0,0,0,0) 2px;
	border-radius: 8px;
}
.searchInput  {
    border-radius: 6px;
    outline-style: none;
    height: 28px;
    width: 310px;
    margin: 6px;
}
