.searchinput {
   width: 70%;
   height: 24px;
   margin: 4px 0px 0px 32px;
   border-radius: 5px;
   border: none;
   padding: 0px 0px 0px 8px;
}

.searchinput::-webkit-search-cancel-button {
   display: none;
}

.itemlist {
   height: calc( 100% - 44px );
   overflow-y: scroll;
}

.item {
   position: relative;
   margin-right: 5px;
   padding: 4px;
   padding-right: 18px;
   vertical-align: top;
   overflow: hidden;
   height: 30px;
   outline-style: none;
}

.selected {
   border: solid black 2px;
   border-radius: 5px;
   box-shadow: 1px 1px 1px #888888;
}

.icon  {
   float: left;
   margin-right: 6px;
}

.window {
   -webkit-filter: drop-shadow(5px 5px 3px grey);
   overflow: visible;
}

.minimized {
   margin-left: 10px;
   margin-top: 10px;
   width: 14px;
   height: 14px;
   opacity: 0.7;
}

.title {
   overflow: hidden;
   white-space: nowrap;
   margin-right: 6px;
}



.name {
   overflow: hidden;
   white-space: nowrap;
   margin-right: 6px;
}

.comment {
   font-size: 0.8em;
   width: calc(100% - 24px);
}

.action {
   position: relative;
   font-size: 12px;
   padding: 6px 6px 10px 8px;
}

.group {
   margin-top: 8px;
   padding-top: 5px;
   font-size: 11px;
   border-top: solid 1px lightgrey;
   border-left: none;
   border-right: none;
   border-bottom: none;
}