html, body {
    height: 100%;
    overflow: hidden;
}
.list {
	width: 300px;
    height: calc(100% - 55px);
    overflow-y: auto;
}
.itemIcon {
    height: 35px;
    width: 35px;
    display: table-cell;
    padding: 3px;
    vertical-align: top;
}
.itemIcon img {
    border-style: none;
}
.windowItem img {
    -webkit-filter: drop-shadow(5px 5px 3px grey);
    overflow: visible;
}
.hidden {
    opacity: 0.4;
}
.itemDesc {
    display: table-cell;
    white-space: nowrap;
    padding: 3px;
    width: 100%;
}
.itemComment {
    font-size: smaller;
}
.display {
    position: absolute;
    left: 330px;
    top: 15px;
    width: calc(100% - 340px);
    min-width: 200px;
    height: calc(100% - 33px);
    border: solid 1px lightgrey;
}
.window {
    position: absolute;
    border: solid 1px black;
    background-color: grey;
    opacity: 0.4;
}
.windowTitle {
    background-color: lightblue;
    font-size: xx-small;
    vertical-align: central;
    opacity: 1;
}
