html, body {
    height: 100%;
    overflow: hidden;
}
.content  {
	height: 100%;
	width: 100%;
    display: flex;
}
.left {
    margin-right: 8px;
    height: calc(100% - 20px);
    width: 250px;
    overflow: auto;
    resize: horizontal;
    display: flex;
    flex-direction: column;
}
.searchInput  {
    height: 42px;
    width: calc(100% - 18px);
    margin-bottom: 8px;
}
.searchInput > input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    outline-style: none;
}
.list {
    overflow-y: scroll;
    flex: 1;
    margin-bottom: 8px;

}
.line {
    width: calc(100% - 20px);
}
.display {
    flex: 1;
    height: calc(100% - 20px);
    position: relative;
}
