body {
    margin: 0;
    padding: 0;
}
.content {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14vw;
}
.data {
    -webkit-app-region: drag;
    float: left;
    margin: 0.4em;
}
.menu {
    margin: 0.4em;
    float: right;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(lightgray, white 30%, lightgray);
    z-index: -2;
}

