.panel  {
    height: 32px; 
    margin: 0px;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
    background-color: lightgrey;
    -webkit-app-region: drag;
}

.clickable {
    -webkit-app-region: no-drag;
}


.panel div {
    display: inline-block;
    height: 100%;
    margin: 3px 0px 0px 0px;
    vertical-align: middle;
    font-size: 20px;
}

.panel div:not(:first-child) {
    margin-left: 6px;
}
