body {
    margin: 0;
    padding: 0;
}
.content {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: right;
    font-size: 18vw;
    overflow: hidden;
}
.drag {
    -webkit-app-region: drag;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(lightgray, white 30%, lightgray);
    z-index: -2;
}
.battery-good, .battery-low, .battery-critical {
    position: absolute;
    height: 100%;
    z-index: -1;
}
.battery-good {
    background: linear-gradient(green, lightgreen 30%, green);
}
.battery-low {
    background: linear-gradient(orange, yellow 30%, orange);
}
.battery-critical {
    background: linear-gradient(red, orange 30%, red);
}
