body {
    margin: 0;
    padding: 0;
}
.batterybody {
    -webkit-app-region: drag;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 85%;
} 
.batterypole {
    position: absolute; 
    left: 90%; 
    top: 35% ;
    height: 30%;
    width: 12vh;
}
.state {
    position: absolute;
    display: flex;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 85%;
    align-items: center;
    justify-content: center;
    font-size: 18vw;
}

